# Java / Build
*.class
*.log
hs_err_pid*
replay_pid*


# Archives
*.zip
*.tar
*.tar.gz


# Eclipse
.classpath
.project
.settings/
.metadata/
bin/
recommenders/
.factorypath


# IntelliJ / VS Code (in case students use them)
.idea/
*.iml
out/
.vscode/


# Maven / Gradle (if added later)
.target/
target/
.gradle/
build/


# OS artifacts
.DS_Store
Thumbs.db
